# Node modules
node_modules/
backend/node_modules/
mobile/node_modules/

# Expo
mobile/.expo/

# Arquivos de lock do npm/yarn
package-lock.json
yarn.lock
pnpm-lock.yaml
backend/package-lock.json
mobile/package-lock.json

# Variáveis de ambiente
backend/.env

# Logs
*.log

# Outros arquivos